# Web Framework
fastapi
uvicorn

# Database
SQLAlchemy
PyMySQL

# NLP & Summarization
transformers
torch
sentencepiece
newspaper3k
lxml
lxml_html_clean
nltk

# Config & Utilities
pydantic
pydantic-settings
python-dotenv
requests
